*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none !important;
}
body {
	font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1191px;
	width: 100%;
	margin: 0 auto;
}
.nav {
	padding-top: 36px;
	padding-bottom: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header__logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 160px;
	width: 100%;
}
.logo__img {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.logo__text {
	font-family: 'DM Sans', sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	color: #0165FA;
}
.nav__row {
	max-width: 650px;
	width: 100%;
}
.nav__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*max-width: 420px;*/
	width: 100%;

}
.nav__links a {
	color: #0165FA;
	text-shadow: 0px 4px 7px 0px rgba(63, 79, 132, 0.20);
	font-family: Montserrat;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	transition: all .5s;
}
.nav__links a:hover {
	color: #014BBB;
	font-weight: 500;
}
.header {
	/*position: relative;*/
	height: 1024px;
	/*height: 100vh;*/
	background: linear-gradient(180deg, #FFF 0%, #0165FA 49.48%, #FFF 100%);
}
.intro {
	
	padding-top: 290px;
	/*display: flex;*/
	/*align-items: center;	*/
	text-align: center;
	/*justify-content: space-between;*/
	/*margin: 0 auto; */
}
.intro__title {
	padding-bottom: 37px;
	text-align: center;
	color: #F5F5F5;
	text-shadow: 0px 2px 20px 0px rgba(10, 20, 56, 0.04);
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.intro__text {
	text-align: center;
	padding-bottom: 37px;
	max-width: 811px;
	width: 100%;
	margin: 0 auto;
}
.intro__text p {
	color: #F5F5F5;
	text-align: center;
	font-family: Montserrat;
	font-size: 27px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.intro__btn {
	max-width: 570px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.intro__btn .btn {
	font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
    text-align: center;
    color: #FFF;
    padding-top: 15px;
	padding-bottom: 15px;
    width: 270px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(53, 69, 122, 0.15);
    border-radius: 56px;
    cursor: pointer;
    transition: all .5s;
}
.btn__buy {
	background: #FA7201;
}
.btn__more {
	background: rgba(245, 245, 245, 0.12);
}
.btn:hover {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
}
/*.intro__dots {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.intro__dots .intro__dots__item:first-child {
	margin-top: 0;
}
.intro__dot--active {
	width: 17px;
	height: 17px;
	flex-shrink: 0;
	border-radius: 17px;
	background: #F5F5F5;
	cursor: pointer;
	margin-top: 14px;
}
.intro__dot {
	cursor: pointer;
	margin-top: 14px;
	width: 11px;
	height: 11px;
	flex-shrink: 0;
	border-radius: 11px;
	background: rgba(245, 245, 245, 0.60);
}.intro__right {
	position: absolute;
    right: 5%;
    top: 50%;
}*/
.call {
	cursor: pointer;
	position: fixed;
	bottom: 89px;
	right: 139px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: #FA7201;
	filter: drop-shadow(0px 4px 5px rgba(51, 65, 112, 0.15));
	transition: all .5s;
}
.call:hover {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
}
.call__img {
	width: 50px;
	height: 50px;
	/*padding: 10px;*/
}
.shop {
	padding-top: 50px;
	padding-bottom: 80px;
}
.shop__title {
	color: var(--basic-black, #292F33);
	font-family: Montserrat;
	/*font-size: 59px;*/
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.shop__caption {
	font-size: 59px;
}
.shop__subtitle {
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 26px;
	font-weight: normal;
}
.shops {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.shop__item {
	max-width: 370px;
	width: 100%;
	padding: 50px;
	border-radius: 30px;
	border: 7px solid #0165FA;
	position: relative;
	box-shadow: 0px 6px 20px 0px rgba(26, 51, 75, 0.15);
}
.shop__item__title {
	max-width: 230px;
	width: 100%;
	color: #292F33;
font-family: Montserrat;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 35px;
}
.shop__inner__text {
	color:#292F33;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.shop__text {
	margin-bottom: 25px;
}
.shop__price {
	margin-bottom: 90px;
	color: #292F33;
font-family: Montserrat;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.btn__shop__buy {
	color: var(--basic-blue, #0165FA);
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: absolute;
/*left: 25%;*/
bottom: 50px;
}
.shop__price span {
	color:#292F33;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.btn__shop__buy {
	font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
    text-align: center;
    color: #FFF;
    padding-top: 15px;
	padding-bottom: 15px;
    width: 170px;
    border: none;
outline: none;
    cursor: pointer;
    border-radius: 43px;
	background: #0165FA;
    /*transition: all .1s;*/
}
.shop__item--gold .btn__shop__buy:hover {
	padding-top: 11px;
	padding-bottom: 11px;
	color: #000;
	border: 5px solid #FA7201;
	outline: none;
	background: #fff;
}
.btn__shop__buy:hover {
	padding-top: 11px;
	padding-bottom: 11px;
	color: #000;
	border: 5px solid #0165FA;
	outline: none;
	background: #fff;
}
.shop__item--gold {
	border: 7px solid #FA7201;
}
.shop__item--gold .btn__shop__buy {
	background: #FA7201;
}
.shop__item--gold .shop__price {
	color: #FA7201;
}
.shop__suptitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}
.shop__info1 {
color: #292F33;
font-family: Montserrat;
font-size: 39px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.shop__info2 {
color: #292F33;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.order {
	padding-top: 70px;
	padding-bottom: 190px;
}
.section__order {
	background: #FA7201;
}
.order__form {
	margin-top: 45px;
}
.order__caption {
	color: var(--basic-white, #F5F5F5);
font-family: Montserrat;
font-size: 46px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.order__inner {
	margin-top: 44px;
	border-radius: 42px;
	background: var(--basic-white, #F5F5F5);
	box-shadow: 0px 4px 17px 0px rgba(19, 48, 117, 0.10);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.order__title {
	color: #0165FA;
	font-family: Montserrat;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.order__form__inner {
	display: flex;
	/*align-items: center;*/
	justify-content: space-between;
}
.order__block {
	display: flex;
	flex-direction: column;
}
.order__block {
	max-width: 469px;
	width: 100%;

}
.text__order__input {
	max-width: 469px;
	width: 100%;
	border-radius: 50px;
	background: rgba(18, 63, 167, 0.02);
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 30px;
	padding-left: 30px;
	color: rgba(41, 47, 51, 0.50);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
margin-bottom: 25px;
border: none;
}
textarea {
	resize: none;
	max-width: 469px;
	height: 285px;

}
.submit {
	margin-top: 140px;
	font-family: Montserrat;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;	
	line-height: normal;
    text-align: center;
    color: #FFF;
    margin-right: 16px;
    margin-left: 16px;
    /*max-width: 469px;*/
    /*width: 100%;*/
	background: #0165FA;
    padding-top: 15px;
	padding-bottom: 15px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(53, 69, 122, 0.15);
    border-radius: 56px;
    cursor: pointer;
    /*transition: all .5s;*/
}
.submit:hover {
	padding-top: 11px;
	padding-bottom: 11px;
	color: #000;
	border: 5px solid #0165FA;
	outline: none;
	background: #fff;
}
.title__team {
	margin-top: 50px; 
	color: var(--basic-black, #292F33);
font-family: Montserrat;
font-size: 59px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 50px;
}
.team__btn {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	width: 100%;
}
.team__btn .btn {
	border-radius: 28px;
	background: rgba(18, 63, 167, 0.05);
	color: rgba(41, 47, 51, 0.80);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 120% */
	cursor: pointer;
	transition: all .5s;
}
.team__btn .btn__active {
	border-radius: 28px;
	background: #0165FA;
	color: var(--basic-white, #F5F5F5);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 120% */
}
/*.first__team__btn {
	max-width: 72px;

}*/
.box__team1 {
	/*max-width: 1170px;*/
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider .team1__inner {
    margin-right: 24px;
	/*width: calc(33.3333% - 25px);*/
}
.box__team1 .team1__inner {
	/*max-width: 366px;*/
	/*width: 100%;*/
	/*height: 633px;*/
	padding: 50px;
	padding-top: 100px;
	border-radius: 30px;
	border: 7px solid #FA7201;
	/*box-shadow: 0px 4px 25px 0px rgba(133, 64, 7, 0.15);*/

}
.img__team {
	width: 230px;
	height: 223px;
	margin-bottom: 20px;
	display: none;
}
.img__team img {
	display: none;
	width: 230px;
	height: 260px;
}
.team__description p {
	padding-bottom: 20px;
	color: #292F33;
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 126.316% */
}
.team__caption {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #292F33;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.team__description {
	padding-bottom: 20px;
}
.team__arrows {
	max-width: 170px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.arrow__pict {
	width: 70px;
	height: 22px;
	cursor: pointer;
}
.box1__team {
	margin-bottom: 50px;
}
.seaction__team {
	margin-bottom: 100px;
}
.team__info {
	display: flex;
	width: 100%;
	justify-content: end;
}
.team__info p {
	color: #292F33;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.section__subscribe {
	height: 700px;	
	background: linear-gradient(180deg, #0165FA 0%, #FFF 100%);
	position: relative;
}
.section__subscribe input {
	color: #3E8AFC;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 120% */
	border-radius: 50px;
	background: rgba(245, 245, 245, 0.90);
	border: none;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 870px;
	width: 100%;
}
.subscribe__caption1 {
	color: #F5F5F5;
	text-shadow: 0px 2px 20px 0px rgba(10, 20, 56, 0.04);
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-bottom: 25px;
}
.subscribe {
	display: flex;
	padding-top: 120px;
	/*max-width: 870px;*/
	width: 100%;
	flex-direction: column;
	align-items: end;	
}
.subscribe__text {
	color: #F5F5F5;
	text-shadow: 0px 2px 20px 0px rgba(10, 20, 56, 0.04);
	font-family: Montserrat;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 25px;
}
.logo__subscribe {
	position: absolute;
	left: 0;
	bottom: 0;
}
.logo__subscribe img {
	width: 291px;
	height: 291px;

}
.subscribe__right {
	top: 454px;
	/*bottom: 88px !important;*/
}
.subscribe__dots {
	
}
.footer__inner {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}
.footer__title h2 {
	color: #0165FA;
	font-family: DM Sans;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: inherit;
	letter-spacing: -3.2px;
	text-transform: capitalize;
}
.footer__title p {
	margin-top: -12px;
	color: #174CFC;
	font-family: Montserrat;
	font-size: 10.216px;
	font-style: normal;
	font-weight: 400;
	line-height: 20.432px; /* 200% */
}
.footer__menus {
	display: flex;
	justify-content: space-between;
	max-width: 590px;
	width: 100%;
	margin-bottom: 124px;
}
.footer__menu__title {
	margin-bottom: 25px;
	color: rgba(41, 47, 51, 0.80);
	font-family: Montserrat;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: 14px; /* 73.684% */
}
.footer__menu__items {
	color: rgba(41, 47, 51, 0.80);
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 82.353% */
padding-bottom: 13px;
text-decoration: none;
}
.footer__menu {
	display: flex;
	flex-direction: column;
}
.logo__footer {
	margin-top: -19px;
}
.footer__social {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.social__name p {
	color: rgba(41, 47, 51, 0.80);
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 82.353% */
}
/*.soc__img__tiktok {
	width: 34px !important;
	height: 34px !important;
}*/
.social__links a img {
	width: 40px;
	height: 40px;
}

.social__links a {
	margin-right: 25px;
	text-decoration: none;
}
.footer {
	margin-bottom: 30px;
	position: relative;
}
.up {
	cursor: pointer;
	right: 40px;
	bottom: 30px;
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.up img {
	width: 15px;
	height: 30px;
}
.up a {
	color: #292F33;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 14px; /* 116.667% */
}
/*--- Accordion ---*/

#accordion {
            /*width: 50%;*/
            margin: 0 auto;
            border: none;
            /*border-radius: 5px;*/
            /*box-shadow: 0 2px 5px rgba(0,0,0,0.15);*/
            outline: none;
        }

        .ui-accordion-header {
            /*font-size: 26px;*/
            background-color: #fff;
            border: none;
            color: #333;
            border-radius: 0;
            border-bottom: 1px solid #DFDBD8;
            position: relative;
            /*padding: 10px 15px;*/
        }
        /*Когда тайтл активный*/
        .ui-accordion-header-active {
            font-weight: 600;
        }
        /*Добавление стрелки вниз*/
        .ui-accordion-header::after {
            font-weight: 500;
content: url('../img/triangle.png');
transform: rotate(180deg);

            position: absolute;
            right: 10px;
        }
        .ui-accordion-header.ui-accordion-header-collapsed::after {
            content: url('../img/triangle (1).png');
transform: rotate(180deg);
        }
        .ui-accordion-content {
            border: none;
            border-radius: 0;
            /*padding: 15px;*/
            font-size: 26px;
            line-height: 1.5;
            color: #555;
        }
        .ui-accordion .ui-accordion-header .ui-icon {
            display: none;
        }
        /*Отступы в название*/
        .ui-accordion .ui-accordion-header {
        	font-size: 26px;
            padding: 0;
            padding-left: 10px;
            padding-top: 17px;
            padding-bottom: 17px;
        }
        /*Отступы в контенте*/
        .ui-accordion .ui-accordion-content {
            padding: 0;
            padding-top: 10px;
            padding-left: 9px;
            padding-bottom: 13px;
        }

.road__map {
	margin-bottom: 70px;
}
.faq__title {
	padding-top: 20px;
	margin-bottom: 10px;
}
.faq__title h2 {
	font-size: 59px;
}


.nav__moded {
/*background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%);	display: flex;*/
	background:linear-gradient(-157deg, #0165FA 0%, #FFF 100%);
	align-items: center;
	justify-content: space-between;
            position: fixed;
            top: 0;
            width: 100%;
            display: none;
            z-index: 999;
            color: #fff;
            margin-bottom: 20px;
}
.nav__moded__inner {
/*padding-top: 36px;*/
	/*padding-bottom: 36px;*/
	/*display: none;*/
	align-items: center;
	justify-content: space-between;
            position: fixed;
            top: 0;
            width: 100%;
            display: none;
            z-index: 999;
}
.nav__bg {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
}
.nav__bg a {
	color: #fff;
}

.btn-burger-menu {
	display: none;
}


/*media__screen*/
@media screen and (max-width: 1200px) {
	.container {
		max-width: 1100px;
		padding: 0 22px;
	}
	.intro__title {
		font-size: 50px;
		padding-bottom: 10px;
	}
	.intro {
		padding-top: 250px;
	}
	.nav__links a {
		font-size: 19px;
	}
	.intro__text {
		font-size: 22px;
		padding-bottom: 20px;
	}
	.faq__title h2 {
		font-size: 50px;
	}
	.shop__caption {
		font-size: 50px;
	}
	.ui-accordion .ui-accordion-header {
		font-size: 26px;
	}
	.ui-accordion-content {
		font-size: 24px;
	}
	.shop__subtitle {
		font-size: 24px;
	}
	.shop__info1 {
		font-size: 30px;
	}
	.shop__item__title {
		font-size: 38px;
		margin-bottom: 16px;
	}
	.shop__text {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.up {
		bottom: 55px;
	}
	.shop__price {
		font-size: 32px;
	}
	.shop__item {
		max-width: 350px;
	}
	/*ПРОБЛЕМА*/
	.box__team1 .team1__inner {
		max-width: 350px;
	}
	.slider .team1__inner {
		margin-right: 22px;
	}
	/*ПРОБЛЕМА*/
	.order__caption {
		font-size: 41px;
	}
	.order__title {
		font-size: 38px;
	}
	.title__team {
		font-size: 50px;
	}
}
@media screen and (max-width: 991px) {
	.container {
		max-width: 1100px;
		padding: 0 33px;
	}
	.btn-burger-menu.active__burger:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.btn-burger-menu.active__burger:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.btn-burger-menu.active__burger span {
		transform: scale(0);
	}
	.btn-burger-menu {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.btn-burger-menu span {
		position: absolute;
		width: 100%;
		background-color: black;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all .3s;
	}
	.btn-burger-menu:before,
	.btn-burger-menu:after	 {
		position: absolute;
		content: '';
		background-color: black;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.btn-burger-menu:after	{
		bottom: 0;
	}
	.btn-burger-menu:before {
		top: 0;
	}
	.nav__row {
		display: none;
	}
	.intro {
		padding-top: 200px;
	}
	.intro__title {
		padding-bottom: 40px;
	}
	.intro__text {
		padding-bottom: 30px;
	}
	.intro__btn {
		flex-direction: column;
		align-items: center;
	}
	.intro__btn .btn {
		margin-bottom: 20px;
	}
	.shops {
		flex-direction: column;
	}
	.shop__item {
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.shop__item__title {
		max-width: 100%;
	}

}
@media screen and (max-width: 660px) {

}
